.git
.github
.gitignore
.gitattributes
.gemini
.idea
.vscode
.env
.env.*
node_modules
npm-debug.log
db
data
public/styles.css
public/vendor
public/fonts
tests
*.sqlite
*.sqlite-*
docker-stack.yml
README.md
gemini.md
